<p>status works!</p>

<div class="btn-group" role="group" aria-label="Basic example">
    <p>
        Search by:
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="switchToFactory('nj')">NJ Status</button>
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="switchToFactory('va')">VA status</button>
    </p>
</div>

<table border>
    <thead>
            
        <tr>
            <th *ngFor="let header_item of header">{{header_item}}</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let item of statusList">           
            <td *ngFor="let key of header">{{item[key]}}</td>
            </tr>
    </tbody>
</table>
