<h1>Add new parts into inventory</h1>

<table>
    <tr>
        <th>Lot number</th>
        <td><input type="string" #lot_box (keyup)="0"></td>
    </tr>
    <tr>
        <th>Part number</th>
        <td><input type="string" #part_box (keyup)="0"></td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td><input type="string" #quantity_box (keyup)="0"></td>
    </tr>
    <tr>
        <th>Location</th>
        <td><input type="string" #loc_box (keyup)="0"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><input type="string" #desc_box (keyup)="0"></td>
    </tr>
    <tr>
        <th>Outside process</th>
        <td><input type="string" #op_box (keyup)="0"></td>
    </tr>
    <tr>
        <th>Status</th>
        <td><input type="string" #stat_box (keyup)="0"></td>
    </tr>
    <tr>
        <th>Lead time</th>
        <th><input type="string" #lt_box (keyup)="0"></th>
    </tr>
    <tr>
        <th>Remarks</th>
        <td><input type="string" #remark_box (keyup)="0"></td>
    </tr>
</table>
<div>
    <button 
    mdbBtn type="button" 
    color="primary" 
    size="sm" 
    outline="true" 
    class="waves-light" 
    mdbWavesEffect 
    (click)="add_inventory(lot_box.value,part_box.value,quantity_box.value,loc_box.value, desc_box.value,op_box.value,stat_box.value,lt_box.value,remark_box.value)">Add new</button>
    
    <button 
    mdbBtn type="button" 
    color="primary" 
    size="sm" 
    outline="true" 
    class="waves-light" 
    mdbWavesEffect 
    (click)="verify(lot_box.value)">Verify</button>
</div>

<table *ngIf="inventory_list">
    <tr>
        <th>Location</th>
        <th>Lot Number</th>
        <th>Part Number</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Outside process</th>
        <th>Status</th>
        <th>Lead time</th>
        <th>Last updated</th>
        <th>Remarks</th>
    </tr>
    <tr *ngFor="let inventory of inventory_list">
        <td>{{ inventory.location }}</td>
        <td>{{ inventory.lot_number }}</td>
        <td>{{ inventory.part_number }}</td>
        <td>{{ inventory.quantity }}</td>
        <td>{{ inventory.description }}</td>
        <td>{{ inventory.outside_process }}</td>
        <td>{{ inventory.status }}</td>
        <td>{{ inventory.lead_time }}</td>
        <td>{{ inventory.last_updated }}</td>
        <td>{{ inventory.remarks }}</td>
    </tr>

</table>