<header>
    <div class="container">
        <a routerLink="/" class="logo">{{ appTitle }}</a>
            <nav>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/retrieve">What's in inventory</a></li>
                    <li><a routerLink="/new_data">New part</a></li>
                    <li><a routerLink="/update">Update inventory</a></li>
                    <li><a routerLink="/status">Status</a></li>
                    <li><a routerLink="/help">Help</a></li>
                </ul>
            </nav>
    </div>
</header>
<!-- <mat-radio-group [(ngModel)]="language_pack">
    <mat-radio-button value="English">English</mat-radio-button>
    <mat-radio-button value="Spanish">Español</mat-radio-button>
  </mat-radio-group>
<p>Language selected: {{ language_pack }}</p>

<label id="example-radio-group-label">Pick your favorite season</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{favoriteSeason}}</div> -->