<h1>Inventory list</h1>
<p>You can check all inventory at this page.</p>
<p>If you want to search by lot number, then press "Lot Number" and type in the lot number in the box and press search.</p>
<p>If you want to search by part number, then press "Part Number" and type in the part number in the box and press search.</p>
<div class="btn-group" role="group" aria-label="Basic example">
    <p>
        Search by:
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="search_all()">All</button>
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="lot_number_click()">Lot number</button>
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="part_number_click()">Part number</button>
    </p>
</div>

<div *ngIf="!selector">
    <p>Lot number:
        <input #box (keyup)="0" placeholder="required">
    </p>
    <button mdbBtn type="button" color="primary" size="sm" outline="true" class="waves-light" mdbWavesEffect (click)="search_lot(box.value)">Search</button>
</div>

<div *ngIf="selector">
    <p>Part number:
        <input #box (keyup)="0" placeholder="required">
    </p>
    <button mdbBtn type="button" color="primary" size="sm" outline="true" class="waves-light" mdbWavesEffect (click)="search_part(box.value)">Search</button>
</div>

<table *ngIf="inventory_list">
    <tr>
        <th>Location</th>
        <th>Lot Number</th>
        <th>Part Number</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Status</th>
        <th>Lead time</th>
        <th>Last updated</th>
        <th>Remarks</th>
    </tr>
    <tr *ngFor="let inventory of inventory_list">
        <td>{{ inventory.location }}</td>
        <td>{{ inventory.lot_number }}</td>
        <td>{{ inventory.part_number }}</td>
        <td>{{ inventory.quantity }}</td>
        <td>{{ inventory.description }}</td>
        <td>{{ inventory.status }}</td>
        <td>{{ inventory.lead_time }}</td>
        <td>{{ inventory.last_updated }}</td>
        <td>{{ inventory.remarks }}</td>
    </tr>

</table>