<h1>Inventory list</h1>
<p>You can check all inventory at this page.</p>
<p>If you want to search by lot number, then press "Lot Number" and type in the lot number in the box and press search.</p>
<p>If you want to search by part number, then press "Part Number" and type in the part number in the box and press search.</p>
<div class="btn-group" role="group" aria-label="Basic example">
    <p>
        Search by:
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="search_all()">All</button>
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="lot_number_click()">Lot number</button>
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="part_number_click()">Part number</button>
    </p>
</div>

<div *ngIf="!selector">
    <p>Lot number:
        <input #box (keyup)="0" placeholder="required">
    </p>
    <button mdbBtn type="button" color="primary" size="sm" outline="true" class="waves-light" mdbWavesEffect (click)="search_lot(box.value)">Search</button>
</div>

<div *ngIf="selector">
    <p>Part number:
        <input #box (keyup)="0" placeholder="required">
    </p>
    <button mdbBtn type="button" color="primary" size="sm" outline="true" class="waves-light" mdbWavesEffect (click)="search_part(box.value)">Search</button>
</div>

<table *ngIf="inventory_list">
    <tr>
        <th>Location</th>
        <th>Lot Number</th>
        <th>Part Number</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Last updated</th>
        <th>Remarks</th>
    </tr>
    <tr *ngFor="let inventory of inventory_list">
        <td>{{ inventory.location }}</td>
        <td>{{ inventory.lot_number }}</td>
        <td>{{ inventory.part_number }}</td>
        <td>{{ inventory.quantity }}</td>
        <td>{{ inventory.description }}</td>
        <td>{{ inventory.last_updated }}</td>
        <td>{{ inventory.remarks }}</td>
    </tr>

</table>
<!-- 
<table mat-table [dataSource]="inventory_list" class="mat-elevation-z8" matSort matSortActive="location" matSortDirection="asc">

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lot_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Lot Number </th>
      <td mat-cell *matCellDef="let element"> {{element.lot_number}} </td>
    </ng-container>
  
    <ng-container matColumnDef="part_number">
      <th mat-header-cell *matHeaderCellDef> Part Number </th>
      <td mat-cell *matCellDef="let element"> {{element.part_number}} </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
    
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

    <ng-container matColumnDef="last_updated">
        <th mat-header-cell *matHeaderCellDef> Last updated </th>
        <td mat-cell *matCellDef="let element"> {{element.last_updated}} </td>
      </ng-container>

    <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef> Remarks </th>
        <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
      </ng-container>

    <ng-container matColumnDef="data_added">
        <th mat-header-cell *matHeaderCellDef> Date added </th>
        <td mat-cell *matCellDef="let element"> {{element.data_added}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->